/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .flats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.flat {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.flat h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.flat p {
  margin: 5px 0;
}

.flat {
  /* Add flexbox to make it a column layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Aligns items at the top and bottom */
  height: 100%; /* Make the card take full height */
}
